{% extends "CasscrouteBlogBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
{% include "CasscrouteBlogBundle:Includes:menu.html.twig" %}
<div id="interface">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <div class="content">
                    Inscription
                </div>
            </h2>
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'ui form fos_user_registration_register'}}) }}
            <div class="ui stacked segment">
                {% if form_errors(form.username) %}
                <div class="ui negative message">
                    <div class="header">
                        Zut alors...
                    </div>
                    {{ form_errors(form.username) }}
                </div>
                {% endif %}
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':'Username'}})  }}
                    </div>
                </div>
                {% if form_errors(form.email) %}
                <div class="ui negative message">
                    <div class="header">
                        Zut alors...
                    </div>
                    {{ form_errors(form.email) }}
                </div>
                {% endif %}
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'E-mail'}})  }}
                    </div>
                </div>
                {% if form_errors(form.plainPassword.first) %}
                <div class="ui negative message">
                    <div class="header">
                        Zut alors...
                    </div>
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                {% endif %}
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder':'Password'}})  }}
                    </div>
                </div>
                {% if form_errors(form.plainPassword.second) %}
                <div class="ui negative message">
                    <div class="header">
                        Zut alors...
                    </div>
                    {{ form_errors(form.plainPassword.second) }}
                </div>
                {% endif %}
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder':'Repeat password'}})  }}
                    </div>
                </div>
                <div>
                    <input type="submit" class="ui fluid large blue submit button" value="{{ 'registration.submit'|trans }}" />
                </div>
{{ form_end(form) }}

{% endblock body %}
