{% extends "CasscrouteBlogBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
{% include "CasscrouteBlogBundle:Includes:menu.html.twig" %}
<div id="interface">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <div class="content">
                    Connexion
                </div>
            </h2>
            <form class="ui large form" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="ui stacked segment">
                    {% if error %}
                    <div class="ui negative message">
                        <div class="header">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="field">
                      <div class="ui left icon input">
                          <i class="user icon"></i>
                          <input type="text" placeholder="{{ 'security.login.username'|trans }}" id="username" name="_username" value="{{ last_username }}" required="required" />
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui left icon input">
                          <i class="lock icon"></i>
                          <input type="password" placeholder="{{ 'security.login.password'|trans }}" id="password" name="_password" required="required" />
                      </div>
                    </div>
                    <div class="ui left input toggle checkbox" id="checkbox_login">
                        <input class="hidden" type="checkbox" tabindex="0" id="remember_me" name="_remember_me" value="on" />
                        <label style="text-align:left" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                    <input type="submit" class="ui fluid large blue submit button" value="{{ 'security.login.submit'|trans }}"/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
