{% extends "CasscrouteBlogBundle::layout.html.twig" %}

{% block blog_body %}

    {{ app.session.flashbag.get('notice')|last }}
    {{ app.session.flashbag.get('error')|last }}

    <h1>Home page</h1>

    <p>Nombre de pages: {{ nbPages }}<p>
    <p>Page actuelle: {{ page }}</p>

    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p>alias: {{post.urlAlias }}</p>
            <p>published: {{post.published|date('y-m-d') }}</p>
            <p>{{ post.content[:30] }}</p>
        <div>
    {% endfor %}

{% endblock %}
