{% extends "CasscrouteBlogBundle::layout.html.twig" %}

{% block blog_body %}

    {{ app.session.flashbag.get('notice')|last }}
    {{ app.session.flashbag.get('error')|last }}

    <h1>Casscroute Blog</h1>

    {% for post in posts %}
        {% set fullRender = false %}
        {% include "CasscrouteBlogBundle:Blog:post-unique.html.twig" %}
        <div class="ui divider"></div>
    {% endfor %}

    <div class="ui pagination menu">
        <a class="icon item {% if page == 1 %} disabled {% endif %}" href="{{path('casscroute_blog_listpost', {'page': page-1})}}">
            <i class="left arrow icon"></i>
        </a>
        {% for i in 1 .. nbPages %}
            <a class="item {% if i == page %}active{% endif %}" href="{{path('casscroute_blog_listpost', {'page': i})}}">
                {{i}}
            </a>
        {% endfor %}
        <a class="icon item {% if page == nbPages %} disabled {% endif %} " href="{{path('casscroute_blog_listpost', {'page': page+1})}}">
            <i class="right arrow icon"></i>
        </a>
    </div>

{% endblock %}
