{% extends "CasscrouteBlogBundle::layout.html.twig" %}

{% block blog_body %}

    {{ app.session.flashbag.get('notice')|last }}
    {{ app.session.flashbag.get('error')|last }}

    <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container">
      <h1 class="ui inverted header">
        Casscroute Blog
      </h1>
      <h2>Le générateur de sandwich.</h2>
    </div>

  </div>

    <h1 style="margin-bottom: 30px;">Liste des articles</h1>

    {% for post in posts %}
        {% set fullRender = false %}
        {% include "CasscrouteBlogBundle:Includes:post-unique.html.twig" %}
        <div class="ui divider"></div>
    {% endfor %}

    <div class="ui pagination menu">
        <a class="icon item {% if page == 1 %} disabled" {% else %} " href="{{path('casscroute_blog_listpost', {'page': page-1})}}"{% endif %}>
            <i class="left arrow icon"></i>
        </a>
        {% for i in 1 .. nbPages %}
            <a class="item {% if i == page %}active{% endif %}" href="{{path('casscroute_blog_listpost', {'page': i})}}">
                {{i}}
            </a>
        {% endfor %}
        <a class="icon item {% if page == nbPages %} disabled" {% else %} " href="{{path('casscroute_blog_listpost', {'page': page+1})}}"{% endif %}>
            <i class="right arrow icon"></i>
        </a>
    </div>

{% endblock %}
