<div class="ui fixed inverted menu">
    <div class="container ui">
        <div class="item">
            <img src="{{ asset('favicon.png') }}" alt="" class="icon" />
        </div>
        <a class="header item" href="{{path('casscroute_blog_homepage')}}">
            <i class="fa fa-home pr"></i> Accueil Casscroute Blog
        </a>
        <div class="right menu">
            {% if is_granted("ROLE_USER")%}
                <div class="item">
                    <a class="ui button green" href="{{path('casscroute_crud_new')}}">
                        <i class="fa fa-plus pr"></i> Ajouter un article
                    </a>
                </div>
                <div class="item">
                    <i class="fa fa-child pr"></i> Bonjour {{app.user.username}}
                </div>
                <a class="item ttip ncl" data-content="Se déconnecter" href="{{path('fos_user_security_logout')}}">
                    <i class="fa fa-sign-out"></i>
                </a>
            {% else %}
                <a class="item" href="{{path('fos_user_security_login')}}">
                    <i class="fa fa-sign-in pr"></i> Connexion
                </a>
                <a class="item" href="{{path('fos_user_registration_register')}}">
                    <i class="fa fa-child pr"></i> Inscription
                </a>
            {% endif %}
        </div>
    </div>
</div>
